*~
*.vcd
*.o
*.d
**/__pycache__/
build/
sim
src.old/
compile_commands.json
README.html
resources/out/
doc/html
doc/*.tar.xz
bitstream.txt
Pout.png
Pout.obj
detector_trace.txt
.cache
.vscode/**
**/.vscode/**
**/.clangd/**
detector_traces/**
.vimrc.local
config.local.mk
specs
libspecs.so
gmon.out
**/main
**/a.out
*.exe
*.cir
tmp/
